.container {
  display: flex;
  height: 100vh;
}

.leftSection,
.rightSection {
  flex: 1; /* Each div takes equal space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  gap: 0px;
  text-align: left; 
  padding: 20px; 
  background-color: rgb(255, 255, 255);
}


.rightSection {
  background-image: url("D:\Download\react\sai_portfolio\public\mypic.jpeg"); /* Use relative path to public */
  background-size: cover; /* Ensure the image covers the section */
  background-position: center; /* Center the image */
  filter: grayscale(100%);
  transition: filter 3s ease; /* Smooth transition on hover */
}

.rightSection:hover {
  filter: grayscale(0%);
}


.leftContainer{
  margin-left: 10%;
  margin-right: 5%;
}
.hiTitle{
  color: black;
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
}
.intro{
  display: flex;
  flex-direction: row;
  gap: 10px;
}